body {
  font-size: 16px;
  padding: 50px;
  background: #fff;
}

a:focus,
a:hover,
a:visited {
  color: white;
}

.wrapper {
  width: 760px;

  .title-box {
    margin: 0 auto;
    max-width: 760px;
    position: relative;
    margin-bottom: 3px;
    background-color: #9e38b0;
    cursor: pointer;
    border-bottom: 3px solid #6f277d;
    transition: 0.4s;
    color: white;

    &:hover {
      background-color: #6844b7;
      border-bottom: 3px solid #4c3185;
    }

    .title-text {
      margin: 0;
    }
  }

  .panel {
    border: none !important;
  }

  .panel-heading {
    padding: 0;
    border: 0;
  }
  .title-text > a,
  .title-text > a:active {
    display: block;
    text-align: left;
    font-size: 1.7em;
    font-family: "Roboto", sans-serif;
    font-style: italic;
    font-weight: 700;
    color: #fff;
    padding: 35px 19px;
    letter-spacing: 1px;

    &:hover {
      color: white;
      text-decoration: none;
    }
  }
  .title-box a:before {
    font-family: "Glyphicons Halflings";
    content: "\e114";
    float: right;
    font-weight: lighter;
    transition: all 0.5s;
  }
  .title-box.active a:before {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  .title-text-content {
    font-family: "Roboto", sans-serif;
    font-size: 0.95em;
    color: #929292;
    font-weight: 300;
    overflow: hidden;
    border: 2px solid #ebebeb;
    border-top: none;
    margin-top: -2px;
    padding: 30px 20px;
  }
}

// media queries
@media (max-width: 767px) {
  .wrapper {
    width: 100%;
  }
}
